html,body {
  height: 100%;
 
}  
    
body {  

  font-size: 100%;
  line-height: 1.5;
  font-family:sans-serif;
  background-image: url("https://www.walldevil.com/wallpapers/h14/wallpapers-orange-fantastic-wallpaper-light.jpg")


}

*{
  box-sizing: border-box;
    
}
  
#addTaskButton {
        
    width: 90%;
    font-size: 18px;
    border: 0px solid ;
    padding: 10px;
    margin-top: 3%;
    border-radius: 20px;
    color: white;
    background-color: #f1b84d;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
                  
}
    
#addTaskButton:hover{
         
    background-color: #d5603d; 
    color: white;
        
}
    
    
::placeholder { 
    color: white;
    text-align: center;
}
    
input,textarea{
    
    color: white;
    color: white; 
    
}

select {
    
    color: #f1b84d;
    background-color:white;
    border:0px;
    outline:0px solid;
    font-size: 18px;
    cursor: pointer;
    text-align-last:right;    
}

    
input {
  
    width: 90%;
    font-size: 18px;
    border: 0px solid ;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 20px;
    background-color: #d5603d;
}
    
h2 {
    color: #d5603d;
    font-family: sans-serif;
    text-align: center;    
}

h4 {
    
    color: white;
   float: left;
       
}

label.events {
    font-weight: bold;
    color: #d5603d; 
}

h3 {
    color:#d5603d;
    
}


h3:hover {
    color:#f1b84d;
    
}

h3.eventHeader:hover {
    color:#d5603d;
    
}
    
li {
        
    color: #d5603d;
    font-size: 18px;
    width: 100%;
    margin-left: 0px;
}

ul {
  list-style-type: none;

}


hr { 
        
    background-color: #f1b84d; 
    height: 2px;
    width: 100%;
    border:0px;
}

tr{
    height: 75px;
}

hr.hrEvent { 
        
    background-color: #f1b84d; 
    height: 2px;
    width: 190px;
    border:0px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}

.calendar-wrapper {
    width: 600px;
    min-height: 450px;
    margin: 3em auto;
    padding: 2em;
    border: 0px solid;
    border-radius: 20px;
    background: white;
}
    
.calendar-wrapper2 {
    
    width: 600px; 
    min-height: 450px;
    margin: 3em auto;
    padding: 2em;
    border: 0px solid;
    border-radius: 20px;
    background: white;
}

.days {
    font-weight: bold;
}

    
table {
  clear: both;
  width: 100%;
  border: 0px solid ;
  border-radius: 3px;
  border-collapse: collapse;
  color: #444;
}
    
td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border-right: 0px solid ;
  border-top: 0px solid ;
  width: 14.28571429%;
}
    
td.not-current {
  color: lightgray;
}
    
td.today {
    
  font-weight: 700;
  color: white;
  font-size: 1.5em;
  border-radius: 100%;
    height: 75px; 
    width: 100px;
	background: #d5603d;
	
}

td.selected {
    
  font-weight: 700;
  color: white;
  font-size: 1.5em;
  border-radius: 100%;
    height: 75px; 
    width: 100px;
    background-color: rgba(241, 184, 77, 1);
	
}

td:hover {
    
    font-size: 1.5em;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    
}

td:active{

  color: #d5603d;
    
}
   
thead td {
  border: none;
  color: #d5603d;
  text-transform: uppercase;
  font-size: 1.5em;
}
       
       
#btnPrev {
  float: left;
  margin-bottom: 20px;
    
}
    

#btnNext {
  float: right;
  margin-bottom: 20px;
}
    
#btnToday{
  float: center;
  margin-bottom: 20px;
}
    

#btnPrev, #btnNext, #btnToday {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #c0c0c0;
  cursor: pointer;
  font-family:sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#btnPrev:hover, #btnNext:hover {
  color: #d5603d;
  font-weight: bold;
    
} 

input[type='checkbox'] {
    float: bottom;
    width: 20px;
    cursor: pointer;
}

.header-wrapper {
    
    width:100%;
    height:70px;
    top:0px;
    position:absolute;
    left:0;
    right:0;
    background: rgb(255, 255, 255); 
    background: rgba(255, 255, 255, .2); 
}

#bell {
    
    margin-right: 40px;
    position: relative;
    top: 15px; 
    cursor:pointer;
     
}

#logo {
    
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 
}

#avatar{
  opacity: 1;
  display: block;

  transition: .5s ease;
  backface-visibility: hidden;
    
    margin-left: 40px;
    position: relative;
    border-radius: 50%;
    top: 3px; 
    float: left;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

#avatar:hover {
  opacity: 0.2;
}

.container:hover .middle {
  opacity: 1;
}

.text {
 
  color: white;
  font-size: 16px;
  padding: 16px 17px;
  margin-left: 20px;
}

#user{
    
    margin-left: 20px;
    position: relative;
    top: 3px; 
    float:left;   
}

.close {
    
    cursor: pointer;
    margin: 0;
    float: right;
    
    
}
.left{
    
    float:left;
    width: 100%;
    word-wrap: break-word;
  
}

.right {
    
    float:right;
    width: 170px;
    margin-right: -170px;
}

.wrapper{
    
    margin-right: 170px;
}

.class{
    
    clear: both;
}

#myDIV {
    
    position: absolute;
    top: 70px;
    right: 45px;
    width: 250px; 
    min-height: 468px;
    margin: 2.6em auto;
    padding: 2em;
    border: 0px solid;
    border-radius: 20px;
    background: white;
    
}